
<div class="row">
  <div class="col-md-4">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td>Welcome and introductions</td> </tr>
      <tr> <td>09:05</td>  <td>Unix: Introducing the shell</td> </tr>
      <tr> <td>09:10</td>  <td>Unix: Navigating files and directories</td> </tr>
      <tr> <td>09:50</td>  <td>Unix: Working with files and directories</td> </tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>10:45</td>  <td>R: (Intro) Analyzing patient data</td> </tr>
      <tr> <td>11:30</td>  <td>R: Reading and writing CSV files</td> </tr>      
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
    <div class="col-md-4">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>R: Data types and structures</td> </tr>
      <tr> <td>09:45</td>  <td>R: Addressing data</td> </tr>
      <tr> <td>10:00</td>  <td>R: Creating functions</td> </tr>
      <tr> <td>10:25</td>  <td>Break</td> </tr>
      <tr> <td>10:40</td>  <td>R: Analyzing multiple data sets</td> </tr>
      <tr> <td>11:10</td>  <td>R: Understanding factors</td> </tr>
      <tr> <td>11:40</td>  <td>R: Dynamic reports with knitr</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
    <div class="col-md-4">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>R: Loops</td> </tr>
      <tr> <td>09:30</td>  <td>Unix: Pipes and filters</td> </tr>
      <tr> <td>10:00</td>  <td>Unix: Loops</td> </tr>
      <tr> <td>10:40</td>  <td>Break</td> </tr>
      <tr> <td>10:50</td>  <td>Unix: Shell scripts</td> </tr>
      <tr> <td>11:25</td>  <td>Unix: finding things</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
