
<div class="row">
  <div class="col-md-4">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td>Welcome and introduction to R/RStudio</td> </tr>
      <tr> <td>10:30</td>  <td>Break</td> </tr>
      <tr> <td>10:40</td>  <td>Data Structures</td> </tr>
      <tr> <td>11:20</td>  <td>Exploring Data Frames</td> </tr>      
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
    <div class="col-md-4">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Data Frame Manipulation with <i>dplyr</i></td> </tr>
      <tr> <td>10:00</td>  <td>Creating Publication-Quality Graphics with <i>ggplot2</i>, Pt. 1</td> </tr>
      <tr> <td>10:25</td>  <td>Break</td> </tr>
      <tr> <td>10:30</td>  <td>Creating Publication-Quality Graphics with <i>ggplot2</i>, Pt. 2</td> </tr>
      <tr> <td>11:00</td>  <td>Producing Reports with <i>knitr</i></td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
    <div class="col-md-4">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Vectorization</td> </tr>
      <tr> <td>09:45</td>  <td>Functions Explained</td> </tr>
      <tr> <td>10:45</td>  <td>Break</td> </tr>
      <tr> <td>10:55</td>  <td>Dataframe Manipulation with <i>tidyr</i></td> </tr>
      <tr> <td>11:30</td>  <td>Writing Good Software</td> </tr>
      <tr> <td>11:50</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
